/* ////////////////////// */
/*        ABOUT          */
/* ///////////////////// */
.about__bg {
  background: url(../img/path.png) 50% 140px no-repeat, url(../img/map2.jpg) 50% 100% no-repeat;
  background-size: 1170px auto, cover;
  position: relative;
}
.about__wrapper {
  margin-top: 95px;
  position: relative;
  min-height: 530px;
  margin: 0 auto;
  width: 1200px;
}
.about__nearest-fly-txt {
  line-height: 100px;
  font-size: 32px;
}
.about__nearest-fly {
  background-color: #000;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  color: #fff;
}
.about__nearest-fly #CDT {
  text-align: right;
  line-height: 100px;
}
.about__nearest-fly #CDT .number-wrapper {
  margin-left: 32px;
  color: #fff;
  text-align: right;
}
.about__nearest-fly #CDT .number-wrapper .number {
  font-size: 32px;
  margin-right: 5px;
}
.about__nearest-fly #CDT .number-wrapper .caption {
  font-size: 22px;
}
.about .ballon {
  position: absolute;
  text-align: center;
  text-align: -webkit-center;
}
.about .ballon--one {
  top: 180px;
  left: 0;
}
.about .ballon--two {
  top: 130px;
  left: 280px;
}
.about .ballon--three {
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.about .ballon--four {
  right: 280px;
  top: 150px;
}
.about .ballon--five {
  right: 0;
  top: 180px;
}
.about .ballon__title {
  display: block;
  color: #454545;
  font-size: 18px;
  line-height: 26px;
}
.about .ballon__count {
  color: #fff;
  margin-top: 10px;
  padding-top: 12px;
  background-image: url(../images/about/balloon.png);
  background-repeat: no-repeat;
  display: block;
  height: 70px;
  font-size: 18px;
  background-position: 50% 0%;
}
.briefly {
  padding-bottom: 80px;
  border-bottom: 1px solid #444444;
}
.briefly .video {
  width: 100%;
  min-height: 350px;
}
/* ////////////////////// */
/*        BONUS          */
/* ////////////////////// */
.bonus {
  margin-top: 40px;
  margin-bottom: 40px;
}
.bonus__item {
  color: #2c2c2c;
  font-size: 18px;
  min-height: 60px;
  padding-top: 10px;
  font-weight: bold;
}
.bonus__item--thumb {
  background: url(../images/bonus/like.png) 0% 60% no-repeat;
  padding-left: 80px;
}
.bonus__item--glasses {
  background: url(../images/bonus/glasses.png) 0% 90% no-repeat;
  padding-left: 100px;
  padding-top: 60px;
}
.bonus__item--photo {
  background: url(../images/bonus/photo.png) 0% 100% no-repeat;
  padding-left: 100px;
  padding-top: 60px;
}
.bonus__item--binocular {
  background: url(../images/bonus/view.png) 0% 60% no-repeat;
  padding-left: 100px;
}
/* ////////////////////// */
/*      CONTACTS          */
/* ////////////////////// */
.contacts {
  background: url(../img/sky-address.jpg) no-repeat;
  height: 470px;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 20%);
}
.contacts .airport {
  padding-bottom: 60px;
  padding-top: 70px;
  position: relative;
}
.contacts .airport :after {
  background: url(../img/plane.png) 5% 0px no-repeat;
  content: "";
  width: 62px;
  height: 62px;
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.contacts .airport__address {
  font-size: 26px;
  line-height: 26px;
  color: #2b2b2b;
  margin-top: 30px;
}
.contacts .airport__text {
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  margin-top: 22px;
}
.contacts .airport__img {
  margin-top: 50px;
}
.contacts .icons {
  padding: 0;
  margin: 0;
  text-align: left;
}
.contacts .icons img {
  margin-top: 24px;
  margin-right: 10px;
}
.contacts .mail {
  font-size: 22px;
  line-height: 26px;
  color: #444444;
  text-align: left;
  position: relative;
  padding-left: 30px;
}
.contacts .mail:after {
  background: url(../img/mail.png) no-repeat;
  content: "";
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
}
.contacts .mail__href {
  border-bottom: 1px solid #444444;
  color: #444444;
}
.contacts .office {
  position: relative;
  margin-right: 10px;
}
.contacts .office:after {
  background: url(../img/address-item.png) 5% 0px no-repeat;
  content: "";
  width: 50px;
  height: 100px;
  display: block;
  position: absolute;
  bottom: 30px;
}
.contacts .office__title {
  font-size: 22px;
  line-height: 26px;
  color: #2b2b2b;
}
.contacts .office__address {
  font-family: "Fira Sans Italic", sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  color: #525252;
  margin-bottom: 18px;
}
.contacts .office__tel {
  font-size: 26px;
  line-height: 26px;
  color: #2b2b2b;
}
/* ////////////////////// */
/*      FEEDBACKS         */
/* ////////////////////// */
.feedbacks {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.feedbacks__controls {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  font-size: 60px;
}
.feedbacks__controls a {
  color: #444444;
}
.feedbacks__controls--prev {
  left: -25px;
}
.feedbacks__controls--next {
  right: -25px;
}
.feedbacks__controls .fa-chevron-left {
  color: #cfcfcf;
}
.feedbacks__controls .fa-chevron-right {
  color: #cfcfcf;
}
.feedbacks .feedback__img {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  height: 100px;
  width: 100px;
}
.feedbacks .feedback__name {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 30px;
}
.feedbacks .feedback__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
}
.feedbacks__small {
  display: none;
}
.feedback__text {
  font-style: italic;
  text-align: center;
}
/* ////////////////////// */
/*        HEADER          */
/* ////////////////////// */
.head-foot {
  background-color: #2c2c2c;
}
.head-foot__logo {
  line-height: 70px;
}
.head-foot__logo img {
  vertical-align: middle;
}
.head-foot__nav {
  margin: 20px 15px;
  text-align: right;
  display: block;
}
.head-foot__nav-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #2c2c2c;
}
.head-foot__nav-item a {
  color: #fff;
}
.head-foot__nav-item:hover {
  border: 1px solid #fff;
}
.head-foot .nav-btn,
.head-foot .nav-btn--up {
  display: none;
  color: #fff;
  text-align: right;
  padding: 20px 0;
}
/* ////////////////////// */
/*       INSTRUCTORS      */
/* ////////////////////// */
.instructor {
  text-align: center;
}
.instructor__name {
  font-size: 22px;
  line-height: 26px;
  margin-top: 30px;
}
.instructor__profession {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
}
.instructor__photo {
  position: relative;
  margin-top: 50px;
}
.instructor__photo img {
  height: 150px;
  width: 150px;
}
.instructor__photo:before {
  content: "";
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  right: 40px;
  bottom: -10px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.instructor__photo--pilot:before {
  background-image: url("../images/team/glasses.png");
}
.instructor__photo--operator:before {
  background-image: url("../images/team/radio.png");
}
.instructor__photo--mechanic:before {
  background-image: url("../images/team/spanner.png");
}
/* ////////////////////// */
/*        LAYOUT          */
/* ////////////////////// */
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
}
.row {
  margin: 0 -18px;
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
  font-size: 15px;
}
/* ////////////////////// */
/*       MAIN             */
/* ////////////////////// */
.tizer {
  background-image: url(../images/background_tizer.jpg);
  background-size: cover;
  min-height: 645px;
  -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
}
.tizer__title {
  color: #fff;
  font-size: 66px;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 160px;
  position: absolute;
}
.tizer__bonuses {
  position: absolute;
  color: #fff;
  font-size: 22px;
}
.tizer__bonuses--left-bottom {
  left: 30px;
  bottom: 180px;
}
.tizer__bonuses--left-top {
  left: 170px;
  top: 170px;
}
.tizer__bonuses--right-top {
  top: 60px;
  right: 190px;
}
.tizer__bonuses--right-bottom {
  right: 20px;
  bottom: 180px;
}
.tizer__wrapper {
  margin: 0 auto;
  width: 1170px;
  min-height: 645px;
  position: relative;
}
.btn-details {
  font-size: 18px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 95px;
  left: 0;
  right: 0;
  max-width: 120px;
  margin: 0 auto;
}
.arrow:after {
  content: url(../img/arrow.png);
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* //////////////////////*/
/*        COST           */
/* //////////////////////*/
.cost {
  margin-top: 90px;
}
.cost__info {
  margin-top: 50px;
}
.cost__text {
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 30px;
}
.cost .payment__block {
  margin-bottom: 25px;
}
.cost .payment__label {
  font-size: 18px;
  line-height: 40px;
  color: #444444;
}
.cost .payment__label--right {
  margin-left: 5px;
}
.cost .payment__select {
  width: 356px;
  border-radius: 6px;
  height: 40px;
  float: right;
}
.cost .payment__select--mini {
  width: 90px;
}
.cost .payment__input {
  background: url(../img/icon_human.png) 1% 50% no-repeat;
  width: 355px;
  border-radius: 6px;
  height: 40px;
  float: right;
}
.cost .payment__input--tel {
  background: url(../img/icon_phone.png) 1% 50% no-repeat;
}
.cost .payment .cost-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cost .payment .cost-input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cost .payment input[type="text"]::-webkit-input-placeholder {
  position: relative;
  left: 30px;
  color: #000;
}
.cost .payment input[type="text"]::-moz-placeholder {
  position: relative;
  left: 30px;
  color: #000;
}
.cost .payment .payment__col-6 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-left: 4px;
}
.cost .payment .payment__col-4 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.total__txt {
  font-size: 18px;
  font-weight: bold;
  color: #444444;
}
.total__price {
  color: #f97e7e;
  font-size: 38px;
  margin-left: 10px;
  vertical-align: middle;
}
.btn-order {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  line-height: 24px;
  background-color: #46b0dc;
  padding: 8px 40px;
  border-radius: 8px;
  color: #fff;
}
.btn-order-wrap {
  text-align: right;
}
/* ////////////////////// */
/*        questions       */
/* ////////////////////// */
.questions {
  padding-top: 160px;
}
.questions__list {
  text-decoration: none;
  list-style: none;
}
.questions__list dt {
  font-size: 18px;
  border-bottom: 1px dashed #444444;
  display: inline-block;
  clear: both;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
}
.questions__list dd {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  padding: 35px 30px 15px 30px;
  display: none;
}
.questions__list dd:after,
.questions__list dd:before {
  content: "";
  display: table;
  clear: both;
}
.questions__list .questions__active {
  display: block;
}
/* ////////////////////// */
/*           TABS         */
/* ////////////////////// */
.tabs__menu {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin-bottom: 20px;
}
.tabs__menu .tabs__menu-item {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 30px;
  background-color: #f5f5f5;
  color: #000;
  margin-right: 5px;
  cursor: pointer;
}
.tabs__menu .tabs__menu-item--active {
  background: #ec5f5f;
  color: #fff;
}
.tabs__article {
  display: none;
  list-style: none;
}
.tabs__article h2 {
  display: none;
}
.tabs__article p,
.tabs__article ul {
  margin-bottom: 20px;
}
.tabs__article--active {
  display: block;
}
.tabs__article h2 {
  font-weight: bold;
}
/* ////////////////////// */
/*        GALLERY         */
/* ////////////////////// */
.gallery__slider {
  margin-top: 60px;
  position: relative;
}
.gallery__controls {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}
.gallery__controls a {
  color: #444444;
}
.gallery__controls--prev {
  left: -25px;
}
.gallery__controls--next {
  right: -25px;
}
.gallery .gallery__small {
  display: none;
}
.img-gallery :first-child {
  margin-left: 20px;
}
.bx-wrapper {
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: none;
  border: none;
  background: none;
}
/* ////////////////////// */
/*       STATISTIC        */
/* ////////////////////// */
.stat {
  margin-top: 90px;
  margin-bottom: 100px;
  background: url(../img/paysage.jpg) 50% 100% no-repeat;
  height: 374px;
  width: 100%;
  background-size: cover;
  color: #fff;
}
.stat__numbers {
  width: 180px;
  height: 180px;
  font-size: 42px;
  padding: 75px 0;
  border: 5px solid #fff;
  border-radius: 100px;
}
.stat__text {
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
}
.stat__wrapper {
  padding: 60px 100px;
}
.stat__cell {
  text-align: center;
  text-align: -webkit-center;
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/***************************
********Typography**********
***************************/
body {
  font-family: "Fira Sans Medium", sans-serif;
  background-color: #fff;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 15px;
  line-height: 22px;
}
.section-info__title {
  font-size: 32px;
  color: #444444;
  margin-bottom: 50px;
  font-weight: bold;
}
.section-info__title--center {
  text-align: center;
  margin-top: 80px;
  position: relative;
}
.section-info__title--center:after {
  content: "";
  -webkit-background-size: 100%;
  background-size: 100%;
  border-bottom: 4px solid #3e98d7;
  height: 4px;
  width: 60px;
  position: absolute;
  left: 0;
  display: block;
  right: 0;
  margin: 0 auto;
}
.section-info__title--left:after {
  content: "";
  -webkit-background-size: 100%;
  background-size: 100%;
  border-bottom: 6px solid #3e98d7;
  height: 4px;
  width: 60px;
  display: block;
}
.section-info__text {
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}
.section-info__text--plus-margin-bottom {
  margin-bottom: 30px;
}
@media (max-width: 768px) and (min-width: 600px) {
  /* ////////////////////// */
  /*     HEADER-adaptive    */
  /* ////////////////////// */
  .head-foot__nav {
    margin: 0;
    text-align: right;
    display: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .head-foot__nav-item {
    display: block;
  }
  .head-foot .nav-btn,
  .head-foot .nav-btn--up {
    display: block;
  }
  /* ////////////////////// */
  /*     Layout-adaptive    */
  /* ////////////////////// */
  .wrapper {
    width: 718px;
  }
  .col-m-1 {
    width: 8.33333333%;
  }
  .col-m-2 {
    width: 16.66666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333333%;
  }
  .col-m-5 {
    width: 41.66666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333333%;
  }
  .col-m-8 {
    width: 66.66666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333333%;
  }
  .col-m-11 {
    width: 91.66666667%;
  }
  .col-m-12 {
    width: 100%;
  }
  /* ////////////////////// */
  /*     Tizer-adaptive    */
  /* ////////////////////// */
  .tizer {
    height: 645px;
    min-height: 645px;
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  }
  .tizer__wrapper {
    width: 718px;
  }
  .tizer__title {
    font-size: 44px;
    width: 464px;
    height: 90px;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tizer__bonuses--left-top {
    left: 60px;
    top: 50px;
  }
  .tizer__bonuses--right-top {
    top: 100px;
    right: 20px;
  }
  .tizer__bonuses--right-bottom {
    right: 10px;
    bottom: 250px;
  }
  /* ////////////////////// */
  /*        BONUS-adaptive  */
  /* ////////////////////// */
  .bonus {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
  }
  .bonus__item {
    min-height: 60px;
    padding-top: 20px;
  }
  .bonus__item--thumb {
    background-size: 45px 45px;
    padding: 20px 60px;
  }
  .bonus__item--glasses {
    background: url(../images/bonus/glasses.png) 0% 50% no-repeat;
    background-size: 50px 25px;
    padding: 20px  60px;
  }
  .bonus__item--photo {
    background: url(../images/bonus/photo.png) 0% 50% no-repeat;
    background-size: 45px 35px;
    padding: 20px  60px;
  }
  .bonus__item--binocular {
    background-size: 50px 25px;
    padding: 20px  60px;
  }
  /* ////////////////////// */
  /*     BRIEFLY-adaptive   */
  /* ////////////////////// */
  .briefly {
    border-bottom: none;
    padding-bottom: 0;
  }
  .briefly .video {
    margin-top: 30px;
  }
  /* ////////////////////// */
  /*   GALLERY-adaptive     */
  /* ////////////////////// */
  .gallery .section-info__title {
    display: none;
  }
  .gallery .gallery__small {
    display: block;
  }
  .gallery .gallery__big {
    display: none;
  }
  /* ////////////////////// */
  /*    ABOUT-adaptive     */
  /* ///////////////////// */
  .about__bg {
    background-size: 718px auto, cover;
    height: 650px;
  }
  .about__nearest-fly-txt {
    font-size: 22px;
    line-height: 20px;
  }
  .about__nearest-fly {
    min-height: 100px;
  }
  .about__nearest-fly {
    font-size: 22px;
    line-height: 50px;
    text-align: center;
  }
  .about__wrapper {
    width: 718px;
  }
  .about .ballon--one {
    top: 120px;
    left: 0;
  }
  .about .ballon--two {
    top: 80px;
    left: 110px;
  }
  .about .ballon--three {
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about .ballon--four {
    top: 80px;
    right: 110px;
  }
  .about .ballon--five {
    top: 120px;
    rigth: 0;
  }
  /* ////////////////////// */
  /*    COST-adaptive       */
  /* ///////////////////// */
  .cost .m-payment-background {
    background-image: url(../images/cost/background_cost.jpg);
    background-size: cover;
    padding: 25px 90px;
    z-index: -1;
  }
  .cost .payment {
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
  }
  .cost .payment__select {
    width: 325px;
  }
  .cost .payment__select--mini {
    width: 75px;
  }
  .cost .payment__input {
    width: 325px;
  }
  .cost .total__price {
    font-size: 38px;
  }
  /* ////////////////////// */
  /*   STATISTIC-adaptive   */
  /* ////////////////////// */
  .stat {
    height: 290px;
    padding-top: 30px;
  }
  .stat__numbers {
    font-size: 32px;
    height: 110px;
    width: 110px;
    padding: 40px 0;
  }
  .stat__text {
    font-size: 18px;
    font-weight: bold;
  }
  .stat__wrapper {
    padding: 0;
  }
  .stat__cell {
    padding: 20px 0;
  }
  /* ////////////////////// */
  /*       INSTRUCTORS      */
  /* ////////////////////// */
  .instructor__photo img {
    width: 160px;
    height: 160px;
  }
  .instructor__photo:before {
    right: 60px;
  }
  .instructor__name {
    padding-top: 0;
  }
  .instructor__profession {
    padding-top: 0;
  }
  /* ////////////////////// */
  /*      FEEDBACKS         */
  /* ////////////////////// */
  .feedbacks__big {
    display: none;
  }
  .feedbacks__small {
    display: block;
  }
  .contacts {
    height: 500px;
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  }
  .contacts .office {
    padding-bottom: 30px;
  }
  .contacts .office:after {
    background: url(../img/address-item.png) no-repeat;
    top: 0;
    left: 0;
  }
  .contacts .office__title {
    text-align: left;
    padding-left: 60px;
  }
  .contacts .office__address {
    text-align: left;
    padding-left: 60px;
  }
  .contacts .office__tel {
    text-align: left;
    padding-left: 60px;
  }
  .contacts .mail {
    display: inline-block;
    vertical-align: middle;
    padding-left: 60px;
    float: left;
  }
  .contacts .icons {
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
  .contacts .icons img {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  /* ////////////////////// */
  /*     HEADER-adaptive    */
  /* ////////////////////// */
  .head-foot__nav {
    margin: 0;
    text-align: right;
    display: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .head-foot__nav-item {
    display: block;
  }
  .head-foot .nav-btn,
  .head-foot .nav-btn--up {
    display: block;
  }
  /* ////////////////////// */
  /*     Layout-adaptive    */
  /* ////////////////////// */
  .wrapper {
    width: 310px;
  }
  .col-xs-0 {
    display: none!important;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  /* ////////////////////// */
  /*     Tizer-adaptive    */
  /* ////////////////////// */
  .tizer {
    height: 300px;
    min-height: 300px;
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  }
  .tizer__bonuses {
    display: none;
  }
  .tizer .arrow {
    display: none;
  }
  .tizer .btn-details {
    display: none;
  }
  .tizer__wrapper {
    width: 310px;
    height: 300px;
    min-height: 300px;
  }
  .tizer__title {
    font-size: 28px;
    width: 300px;
    height: 60px;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  /* ////////////////////// */
  /*        BONUS-adaptive  */
  /* ////////////////////// */
  .bonus {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .bonus__item {
    min-height: 60px;
    padding-top: 20px;
    font-weight: normal;
  }
  .bonus__item--thumb {
    background: url(../images/bonus/xs/like.png) 0% 0% no-repeat;
    padding-left: 50px;
    padding-top: 10px;
  }
  .bonus__item--glasses {
    background: url(../images/bonus/xs/rudder.png) 0% 0% no-repeat;
    padding-left: 50px;
    padding-top: 5px;
  }
  .bonus__item--photo {
    background: url(../images/bonus/xs/photo.png) 0% 0% no-repeat;
    padding-left: 50px;
    padding-top: 0;
  }
  .bonus__item--binocular {
    background: url(../images/bonus/xs/view.png) 0% 0% no-repeat;
    padding-left: 50px;
    padding-top: 0;
  }
  /* ////////////////////// */
  /*     BRIEFLY-adaptive   */
  /* ////////////////////// */
  .briefly {
    border-bottom: none;
    padding-bottom: 0;
  }
  .briefly .video {
    display: none;
  }
  /* ////////////////////// */
  /*   GALLERY-adaptive     */
  /* ////////////////////// */
  .gallery .section-info__title {
    display: none;
  }
  .gallery .gallery__small {
    display: block;
  }
  .gallery .gallery__big {
    display: none;
  }
  /* ////////////////////// */
  /*    ABOUT-adaptive     */
  /* ///////////////////// */
  .about__bg {
    background: url(../img/map2.jpg) 50% 100% no-repeat;
    background-size: cover;
    height: 650px;
  }
  .about__nearest-fly-txt {
    font-size: 22px;
    line-height: 20px;
  }
  .about__nearest-fly {
    min-height: 100px;
  }
  .about__nearest-fly {
    font-size: 22px;
    line-height: 50px;
    text-align: center;
  }
  .about #CDT {
    text-align: center;
    line-height: 20px;
  }
  .about #CDT .number-wrapper {
    margin-left: 0px;
  }
  .about #CDT .number-wrapper .number {
    float: left;
    font-size: 32px;
    margin-right: 5px;
    padding: 0 10px;
  }
  .about #CDT .number-wrapper .caption {
    font-size: 22px;
    margin-right: 3px;
  }
  .about__wrapper {
    width: 310px;
  }
  .about .ballon {
    width: 340px;
    position: absolute;
    display: block;
    text-align: left;
  }
  .about .ballon--one {
    top: 0;
    left: 10px;
  }
  .about .ballon--two {
    top: 90px;
    left: 10px;
  }
  .about .ballon--three {
    top: 180px;
    left: 10px;
  }
  .about .ballon--four {
    top: 270px;
    left: 10px;
  }
  .about .ballon--five {
    top: 360px;
    left: 10px;
  }
  .about .ballon__title {
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 10px;
  }
  .about .ballon__count {
    float: left;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 13px;
    background-image: url(../images/about/xs/balloon.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    font-size: 18px;
    background-position: 0% 0%;
  }
  /* ////////////////////// */
  /*    TYPOGRAPHY-adaptive */
  /* ///////////////////// */
  .section-info__title {
    font-size: 28px;
    font-weight: normal;
  }
  /* ////////////////////// */
  /*    COST-adaptive       */
  /* ///////////////////// */
  .cost__info {
    display: none;
  }
  .cost .payment__label {
    font-weight: bold;
  }
  .cost .payment__select {
    width: 310px;
  }
  .cost .payment__select--mini {
    width: 75px;
    float: left;
  }
  .cost .payment__input {
    width: 310px;
  }
  .cost .payment .payment__col-xs-12 {
    width: 100%;
    padding: 0;
  }
  .cost .payment .payment__block--xs {
    margin-left: 0;
  }
  .cost .total__txt {
    display: none;
  }
  .cost .total__price {
    font-size: 28px;
    margin-left: 0;
  }
  /* ////////////////////// */
  /*   QUESTIONS-adaptive   */
  /* ///////////////////// */
  .questions {
    margin-top: 45px;
    padding-top: 45px;
    background-color: #f8f8f8;
  }
  .questions__list {
    display: none;
  }
  .questions .section-info__title--xs-gone {
    display: none;
  }
  .questions .tabs__menu {
    display: none;
  }
  .questions .tabs__article {
    display: block;
  }
  .questions h2 {
    display: block;
  }
  /* ////////////////////// */
  /*   STATISTIC-adaptive   */
  /* ////////////////////// */
  .stat {
    height: 525px;
    width: 100%;
    margin-top: 0;
  }
  .stat__numbers {
    float: left;
    font-size: 26px;
    height: 90px;
    width: 90px;
    padding: 30px 0;
  }
  .stat__text {
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 115px;
  }
  .stat__wrapper {
    padding: 0;
  }
  .stat__cell {
    padding: 20px 0;
  }
  /* ////////////////////// */
  /*       INSTRUCTORS      */
  /* ////////////////////// */
  .instructor {
    text-align: left;
  }
  .instructor__photo {
    float: left;
    margin-top: 50px;
    margin-right: 20px;
  }
  .instructor__photo img {
    width: 90px;
    height: 90px;
  }
  .instructor__photo:before {
    display: none;
  }
  .instructor__name {
    padding-top: 30px;
  }
  .instructor__profession {
    padding-top: 0;
  }
  /* ////////////////////// */
  /*      FEEDBACKS         */
  /* ////////////////////// */
  .feedbacks__big {
    display: none;
  }
  .feedbacks__small {
    display: block;
  }
  /* ////////////////////// */
  /*      CONTACTS          */
  /* ////////////////////// */
  .contacts {
    height: 740px;
    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%);
  }
  .contacts .office {
    text-align: left;
    padding-bottom: 30px;
  }
  .contacts .office:after {
    background: url(../img/address-item.png) no-repeat;
    top: 0;
    left: 0;
  }
  .contacts .office__title {
    padding-left: 60px;
  }
  .contacts .office__address {
    padding-left: 60px;
  }
  .contacts .office__tel {
    padding-left: 60px;
  }
  .contacts .mail {
    padding-left: 60px;
  }
  .contacts .icons {
    text-align: center;
  }
}
