@media (max-width: @resolution-small) 
{        
    /* ////////////////////// */
    /*     HEADER-adaptive    */
    /* ////////////////////// */
    .head-foot
    {
        &__nav
        {    
            display: none;    
            margin: 0; 
            text-align: right;
            display: none;
            border-top: 2px solid #fff;  

            &-item
            {
                display: block;                                
            }     
        }

        .nav-btn
        {            
          display: block;
        }
    }

    /* ////////////////////// */
    /*     Layout-adaptive    */
    /* ////////////////////// */
    .wrapper
    {  
        width: @container-width-xs;
    }   
  
    .col-xs-0
    {
        width: 0;
    }

    .col-xs-4
    {
        width: 33.33333333%;
    }

    .col-xs-8 
    {
        width: 66.66666667%;
    }

    .col-xs-12 
    {
        width: 100%;
    }

    /* ////////////////////// */
    /*     Tizer-adaptive    */
    /* ////////////////////// */
    .tizer
    {
        height: 300px;
        min-height: 300px;
        -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
        clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);

        &__bonuses
        {
            display: none;
        }

        .arrow
        {
            display: none;
        }

        .btn-details
        {
            display: none;
        }

        &__wrapper
        {
            width: @container-width-xs;
            height: 300px;
            min-height: 300px;
        }

        &__title
        {
            font-size: 28px; 
            width: 300px;  
            height: 60px;    
            top: 50px;
            left: 0;
            right: 0;     
            margin: 0 auto;                    
        }
    }

    /* ////////////////////// */
    /*        BONUS          */
    /* ////////////////////// */

    .bonus 
    {
        margin-top: 40px;
        margin-bottom: 40px;


        &__item 
        {
            min-height: 60px;
            padding-top: 20px;  
            font-weight: normal;             
            
            &--thumb 
            {
              background: url(../images/bonus/xs/like.png) 8% 0% no-repeat;
              padding-left: 70px;
              padding-top: 10px;
            }

            &--glasses
            {
              background: url(../images/bonus/xs/rudder.png) 0% 0% no-repeat;
              padding-left: 50px;
              padding-top: 5px;
            } 

            &--photo
            {
              background: url(../images/bonus/xs/photo.png)  0% 0% no-repeat;
              padding-left: 50px;
              padding-top: 0;
            }

            &--binocular
            {
              background: url(../images/bonus/xs/view.png) 0% 0% no-repeat;
              padding-left:  50px;
              padding-top: 0;
            }
        } 
    }

    /* ////////////////////// */
    /*        BRIEFLY         */
    /* ////////////////////// */
    .briefly
    {
        border-bottom: none;
        padding-bottom: 0;
        .video
        {
            display: none;
        }
    }


    /* ////////////////////// */
    /*        GALLERY         */
    /* ////////////////////// */
    .gallery
    {
        .section-info__title{
            display: none;
        }

        .gallery__small
        {
            display: block;
        }
        .gallery__big
        {
            display: none;
        }
    }

    /* ////////////////////// */
    /*        ABOUT          */
    /* ///////////////////// */
    
    .about
    {
        &__bg
        {
            background: url(../img/map2.jpg) 50% 100% no-repeat;  
            background-size: cover;    
            height: 650px;                      
        }

        &__nearest-fly-txt 
        {            
            font-size: 22px;
        }

        /*
        #CDT
        {
          text-align: right;
          line-height: 100px;
          .number-wrapper
          {
            
            margin-left: 32px;
            color:#fff;
            text-align: right;

            .number
            {
              font-size: 32px;
              margin-right: 5px;
            }

            .caption
            {
              font-size: 22px;
            }
          }
        }  
        */

        &__wrapper
        {       
            width: @container-width-xs;
        }


        .ballon
        {
          width: 340px;
          position: absolute;          
          display: block;
          text-align: left;

          &--one
          {
            top: 0;
            left: 10px;
          }

          &--two
          {
            top: 100px;
            left: 10px;
          }

          &--three
          {
            top: 200px;
            left: 10px;            
          }

          &--four
          {
            top: 300px;
            left: 10px;            
          }

          &--five
          {
            top: 400px;
            left: 10px;            
          }

          &__title
          {
            display: inline-block;
            vertical-align: middle;
            color: #454545;      
            font-size: 18px;
            line-height: 26px;
            padding-left: 0;
          }

          &__count
          {
            float: left;            
            margin-top: 10px;
            padding-top: 12px;
            background-image: url(../img/forma.png);
            background-repeat: no-repeat;         
            height: 70px;
            width: 70px;
            margin-left: 10px;
            padding-left: 15px;
            font-size: 18px;
            background-position: 0% 0%; 
          }
        }  

    }
}