/* ////////////////////// */
/*        BONUS          */
/* ////////////////////// */
.bonus 
{ 
  margin-bottom: 40px;
  min-width: @min-block-width;

  &__item 
  {
    color: #2c2c2c;
    font-size: 18px;
    min-height: 60px;
    padding-top: 10px;
    font-weight: bold;
    
    &--thumb 
    {
      background: url(../images/bonus/like.png) 0% 60% no-repeat;
      padding-left: 80px;
    }

    &--glasses
    {
      background: url(../images/bonus/glasses.png) 0% 90% no-repeat;
      padding-left: 100px;
      padding-top: 60px;
    } 

    &--photo
    {
      background: url(../images/bonus/photo.png)  0% 100% no-repeat;
      padding-left: 100px;
      padding-top: 60px;
    }

    &--binocular
    {
      background: url(../images/bonus/view.png) 0% 60% no-repeat;
      padding-left: 100px;
    }
  } 
}