/* ////////////////////// */
/*        BONUS          */
/* ////////////////////// */
.bonus {
  margin-top: 5%;
  margin-bottom: 5%;
}
.bonus-item {
  color: #2c2c2c;
  font-size: 18px;
  padding-top: 4%;
  width: 100%;
  height: 60px;
  vertical-align: middle;
} 
.bonus-item-thumb {
  background: url(../img/like.png)  no-repeat;
  padding-left: 80px;
}
.bonus-item-glasses{
  background: url(../img/glasses.png) 0% 60% no-repeat;
  padding-left: 100px;
}
.bonus-item-photo{
  background: url(../img/photo.png)  0% 60% no-repeat;
  padding-left: 95px;
}
.bonus-item-binocular{
  background: url(../img/view.png) 0% 60% no-repeat;
  padding-left: 100px;
}
.section-title{
  font-size: 32px;
  color: #2c2c2c;
  margin-bottom: 50px;
}
.text {
  font-family: "Fira Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}
.paragraph:after {
  content: "";
  display: block;
  height: 40px;
}
.section-title-center {
  text-align: center;
  margin-top: 80px;
}
.aerostat {
  display: inline-block;
  margin-left: 150px;
}
.video {
  width: 650px; 
  height: 350px;
}
.section-title-left:after {
    content:" ";
    -webkit-background-size: 100%;
    background-size: 100%;
    border-bottom: 4px solid #3e98d7;
    height: 4px;
    width: 60px;
    display: block;
}
.section-title-center:after {
  content:" ";
    -webkit-background-size: 100%;
    background-size: 100%;
    border-bottom: 4px solid #3e98d7;
    height: 4px;
    width: 60px;
    position: absolute;
    left: 760px;
    display: block;
}