/* ////////////////////// */
/*        BONUS          */
/* ////////////////////// */
.bonus 
{

  margin-top: 40px;
  margin-bottom: 40px;

  &__item 
  {
    color: #2c2c2c;
    font-size: 18px;
    min-height: 60px;
    padding-top: 10px;
    
    &--thumb 
    {
      background: url(../img/like.png)  no-repeat;
      padding-left: 80px;
    }

    &--glasses
    {
      background: url(../img/glasses.png) 0% 90% no-repeat;
      padding-left: 100px;
      padding-top: 60px;
    } 

    &--photo
    {
      background: url(../img/photo.png)  0% 90% no-repeat;
      padding-left: 95px;
      padding-top: 60px;
    }

    &--binocular
    {
      background: url(../img/view.png) 0% 60% no-repeat;
      padding-left: 100px;
    }
  } 
}