.contacts
{

  background: url(../img/sky-address.jpg) no-repeat;
  height: 468px;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 20%);
  clip-path: polygon(50% 0%, 100% 19%, 100% 100%, 0 100%, 0 20%);

  .airport 
  {
    text-align: center;
    padding-bottom: 60px;

    &__address 
    {
      font-size: 26px;
      line-height: 26px;
      color: #2b2b2b;
      text-align: center;
      margin-top: 30px;
    }

    &__text 
    {      
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
      margin-top: 22px;
    }

    &__img
    {
      text-align: center;
      margin-top: 50px;
    }
  }
}


.office:after {
  background: url(../img/address-item.png) 5% 0px no-repeat;
  content: "";
  width: 50px;
  height: 100px;
  display: block;
  position: absolute;
  bottom: 30px;
}
.office 
{
  text-align: center;
  position: relative;
  margin-right: 10px;

  &__title
  {
    font-size: 22px;
    line-height: 26px;
    color: #2b2b2b;
  }

  &__address 
  {
    font-family: "Fira Sans Italic", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #525252;
    margin-bottom: 18px;
  }

  &__tel
  {
    font-size: 26px;
    line-height: 26px;
    color: #2b2b2b;
  }
    
}

.icons 
{
  padding: 0;
  margin: 0;
  margin-left: -160px;

  img
  {
    margin-top: 24px;
    margin-right: 10px;
  }

}

.mail
{
  font-family: "Fira Sans Regular";
  font-size: 22px;
  line-height: 26px;
  color: #444444; 
  margin-left: 10px;

  &__href
  {
    border-bottom: 1px solid #444444;
  }
}