/* //////////////////////*/
/*        COST           */
/* //////////////////////*/
.cost 
{
  	margin-top: 90px;	
	min-width: @min-block-width;
  	&__info 
	{
	  	margin-top: 50px;
	}

	&__text 
	{  
	  font-style: italic;
	  font-size: 18px;
	  line-height: 24px;
	  color: #444444;
	  margin-bottom: 30px;
	}

	.payment 
	{	          
		&__line
		{
			margin: 0 0 25px 0;
			font-size: 0;  
			& > [class^=col-]
			{
				display: inline-block;
				vertical-align: top;  				
				font-size: @font-size-base;
			}
		}
							
		&__label
		{
			font-size: 18px;
			line-height: 40px;
			color: #444444;
		}

		&__select 
		{
		  width: 356px;
		  border-radius: 6px;
  		  height: 40px;
  		  outline:none; 		
		  box-shadow:none;

		  &:focus
		  {
			border: 2px solid #aed6ff;
		  }
		  
		  &--mini
		  {
			width: 90px;
		  }
		}
		
		&__input
		{
			background: url(../images/cost/icon_human.png) 1% 50% no-repeat;
			width: 355px;
			border-radius: 6px;
			height: 40px;
			outline:none; 		
			box-shadow:none;

			&:focus
			{
				border: 2px solid #aed6ff;
			}

			&--tel
			{
				background: url(../images/cost/icon_phone.png) 1% 50% no-repeat;  				
			}
		}


		.cost-input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
		.cost-input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
		.cost-input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
		.cost-input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
		.cost-input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
		.cost-input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
		.cost-input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
		.cost-input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

		input[type="text"]::-webkit-input-placeholder 
		{
		    position: relative;
		    left: 30px;
		    color:#000;			  
		} 

		input[type="text"]::-moz-placeholder 
		{
		    position: relative;
		    left: 30px;
		    color:#000;		   		    
		}

		.payment__col-6
		{
		    display: inline-block;
		    vertical-align: top; 
		    width: 45%;
		    margin-left: 4px;
		}
		.payment__col-4
		{
			display: inline-block;
		    vertical-align: top; 
		    width: 25%;
		}
	}
}

.total 
{
	&__txt
	{		
		font-size: 18px;
  		font-weight: bold;
  		color: #444444;
	}
	
	&__price 
	{
	  color: #f97e7e;
	  font-size: 38px;
	  margin-left: 10px;
	  vertical-align: middle;
	}
}


.btn-order
{
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  background-color: #46b0dc;
  padding: 8px 40px;
  border-radius: 8px;
  color: #fff;   
  cursor: pointer;
  &:hover
  {
	background-color: #E35C5C;
  }
}

.btn-order-wrap
{
	text-align: right;
}