/* ////////////////////// */
/*      FEEDBACKS         */
/* ////////////////////// */

.feedbacks
{
	text-align: center;
	margin-bottom: 80px;
	position: relative;	
	min-width: @min-block-width; 

	&__controls
    {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		font-size: 60px;		

	  	a
	    {
	  	  color: #444444;
	    }

	  	&--prev 
	  	{
	    	left: 0; 		
	    }

	    &--next 
	  	{
	    	right: 0;  
	    }

	    .fa-chevron-left
	    {
			color:#cfcfcf;	
	    }

	    .fa-chevron-right
	    {
			color:#cfcfcf;	
	    }
    }

    .feedback
    {		
		&__img
		{
			display: inline-block;
			margin: 0;
			padding: 0;
		    margin-top: 50px;
		    height:100px;
		    width:100px;
		}
		
		&__name
		{
		  font-size: 22px;
		  line-height: 26px;
		  text-align: center;
		  margin-top: 30px;
		}
	  
		&__text  
		{
		  font-size: 18px;
		  line-height: 26px;
		  text-align: center;
		  margin-top: 10px;
		}
	}

	&__small
	{
		display: none;
	}
}

.feedback__text 
{
  font-style: italic;
  text-align: center;
}
