/* ////////////////////// */
/*        HEADER          */
/* ////////////////////// */
.head-foot
{
    background-color: #2c2c2c;        
    &__logo 
    {
        line-height: 70px;
        img
        {
            vertical-align: middle;
        }
    }

    &__nav
    {      
        margin: 20px 15px; 
        text-align: right; 

        &-item
        {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;                         
            padding: 5px;  
            border: 1px solid #2c2c2c;

            a
            {
               color: #fff;
            }

            &:hover 
            {
                border: 1px solid #fff;  
            }
        }
    }
    
    .nav-btn
    {
        display: none;                
        input[type="checkbox"]
        {
            display:none;            
        }

        #nav-menu + label
        {
          font: 16px bold;
          position: relative;
          color: #444;
          cursor: pointer;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          right: 40px;
        }

        #nav-menu + label::before 
        {
            content: "\f0c9";
            color: #fff;
            font-size: 30px;
            position: absolute;
            background-repeat: no-repeat;
            bottom: 0px;
        }
    }
}

@media (max-width: @resolution-small) 
{
    /*
        .nav-toggle
        {
            display: inline-block;
            padding: 23px;
        } 
    */

    .nav-btn-wrap
    {
        display: block;
        text-align: right;   
        padding: 35px 0;    
    }

    .head-foot
    {
        &__nav
        {    
            display: none;            
        }

        .nav-btn
        {            
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          right: 20px;
        }

    }

}

