/* ////////////////////// */
/*       INSTRUCTORS          */
/* ////////////////////// */
.instructor {text-align: center;}
.instructor-img, .feedback-img {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.instructor-name, .feedback-name{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 30px;
}
.instructor-profession, .feedback-text  {
  font-family: "Fira Sans Regular",sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
}
.feedback-text {
  font-style: italic;
  text-align: center;
}
.feedback {
  text-align: center;
  margin-bottom: 80px;
}
  .contacts {
  background: url(../img/sky-address.jpg) no-repeat;
  height: 468px;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.address {
  text-align: center;
  padding-bottom: 60px;
}
.airoport-address {
  font-size: 26px;
  line-height: 26px;
  color: #2b2b2b;
  text-align: center;
  margin-top: 30px;
}
.address-text {
  font-family: "Fira Sans Italic",sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  margin-top: 22px;
}
.address-img{
  text-align: center;
  padding-top: 50px;
}
.office:after {
  background: url(../img/address-item.png) 5% 0px no-repeat;
  content: "";
  width: 50px;
  height: 100px;
  display: block;
  position: absolute;
  bottom: 30px;
}
.office {
  text-align: center;
  position: relative;
  margin-right: 10px;
}
.office-address-title {
  font-size: 22px;
  line-height: 26px;
  color: #2b2b2b;
}
.office-address {
  font-family: "Fira Sans Italic", sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  color: #525252;
  margin-bottom: 18px;
}
.office-tel {
  font-size: 26px;
  line-height: 26px;
  color: #2b2b2b;
}

.icons img {
  margin-top: 24px;
  margin-right: 10px;
}
.icons {
  padding: 0;
  margin: 0;
  margin-left: -160px;
}
.mail {
  font-family: "Fira Sans Regular";
  font-size: 22px;
  line-height: 26px;
  color: #444444;
  border-bottom: 1px solid #444444;
  margin-left: 10px;
}