/* ////////////////////// */
/*        MAP         */
/* ////////////////////// */
.fly-about{
  text-align: center;
  height: 515px;
  background: url(../img/path.png) 50% 140px no-repeat,
              url(../img/map2.jpg) 50% 100% no-repeat;
  background-size: 1140px auto, cover;
}
.fly-about .wrapper {
  position: relative;
  margin-top: 60px;
}
.fly-count{
  padding-top: 12px;
  background-image: url(../img/forma.png);
  background-repeat: no-repeat;
  display: block;
  height: 70px;
  font-size: 18px;
  background-position: 50% 0%; 
}
.flight-number {
  width: 120px;
  position: absolute;
}
.flight-number-one {
  top: 180px;
  left: 10px;
}
.flight-number-two {
  top: 130px;
  left: 280px;
}
.flight-number-three {
  left: 540px;
  top: 20px;
}
.flight-number-four {
  left: 840px;
  top: 150px;
}
.flight-number-five {
   left: 1060px;
   top: 180px;
}
.fly-title{
  display: block;
  margin-bottom: 10px;
  color: #454545;
  font-family: "Fira Sans Regular",sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.nearest {
  background-color: #f2f2f2;
  margin-top: 0;
  height: 100px;
}
.nearest p{
  font-family: "Fira Sans Medium",sans-serif;
  font-size: 32px;
  color: #26668e;
  display: inline-block;
  margin-top: 35px;
  line-height: 26px;
}
.cost {
  margin-top: 90px;
}
.cost-info {
  margin-top: 50px;
}
.cost-text {
  font-family: "Fira Sans Italic",sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}
