/* ////////////////////// */
/*       STATISTIC          */
/* ////////////////////// */
.stat {
  margin-top: 90px;
  margin-bottom: 100px;
  background: url(../img/paysage.jpg) 50% 100% no-repeat;
  height: 374px;
  width: 100%;
  background-size: cover;
}
.stat-numbers {
  text-align: center;
  vertical-align: middle;
  width: 180px;
  height: 180px;
  font-size: 42px;
  padding: 65px 40px;
  border: 5px solid #fff;
  border-radius: 100px;
  position: relative;
  top: 50px;
  left: 50px;
}
.stat-text {
  font-size: 24px;
  line-height: 28px;
  margin-top: 80px;
  text-align: center;
}