/* ////////////////////// */
/*       STATISTIC        */
/* ////////////////////// */
.stat 
{
  margin-top: 90px;
  margin-bottom: 100px;
  background: url(../images/stat/stat_bg.jpg) 50% 100% no-repeat;
  height: 374px;
  width: 100%;
  background-size: cover;
  color:#fff;

  &__numbers
  {
    width: 180px;
    height: 180px;
    font-size: 42px;
    padding: 75px 0;
    border: 5px solid #fff;
    border-radius: 100px;
  }

  &__text
  {
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;    
  }  

  &__wrapper
  {
    padding: 60px 100px;
  }

  &__cell
  {
    text-align: center;
    text-align: -webkit-center;
  }
}