/* ////////////////////// */
/*       MAIN             */
/* ////////////////////// */

.tizer
{
  background-image: url(../images/tizer/background_tizer.jpg);
  background-size: cover;
  min-height: 645px;
  -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);

  &__title
  {   
    color: #fff;
    font-size: 66px;    
    left: 0;
    right: 0;
    margin: 0 auto;        
    width: 760px;
    top: 30%;
    position: absolute;     
  }

  &__bonuses
  {
    position: absolute;
    color: #fff;
    font-size: 22px;

    &--left-bottom
    {
      left: 30px;
      bottom: 180px;
    }

    &--left-top
    {
      left: 170px;
      top: 170px;
    }

    &--right-top
    {
      top: 60px;
      right: 190px;
    }

    &--right-bottom
    {
      right: 20px;
      bottom: 180px;
    }
  }
  &__wrapper
  {
    margin: 0 auto;
    width: @container-width;
    min-height: 645px;
    position: relative;
  }
}

.btn-details
{  
  font-size:  18px;
  border: 1px solid #fff; 
  padding: 10px;   
  color:#fff;
  position: absolute;
  bottom: 95px;
  left:0;
  right:0;
  max-width: 120px;
  margin: 0 auto;

  &:hover
  {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.arrow
{

  cursor: pointer;   
  background: url(../images/tizer/arrow.png) 50% 0 no-repeat;;
  display: inline-block;    
  position: absolute;
  bottom: 10px;
  left:0;
  right:0; 
  margin: 0 auto; 
  height: 40px;
  width: 40px;
  

  &:hover
  {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);  
  }
}
