//Colors
@bg-color: #f0f2f5;
@grid-color: #b3d4f9;

@color-pagination-slider:#ffcabf;

//Fonts
@font-family-main: "Fira Sans Medium", sans-serif;

//Sizes
@font-size-h1:32px;
@font-size-h2: round(@font-size-h1*0.875);
@font-size-h3: round(@font-size-h1*0.6875);
@font-size-h4: round(@font-size-h1*0.5);
@font-size-base:15px;
@line-height-base:22px;

//Wrapper
@wrapper-width:1170px;
@wrapper-margin:18px;

@wrapper-width-xs:310px;
@wrapper-width-m:718px;

@min-block-width:@wrapper-width+@wrapper-margin;
@min-block-tablet-width:@wrapper-width-m+@wrapper-margin;
@min-block-mobile-width:@wrapper-width-xs+@wrapper-margin;
//
@resolution-small:600px;
@resolution-medium:768px;